@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&family=Poppins:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font-family: 'Playfair Display', serif; */
/* font-family: 'Poppins', sans-serif; */

/* navbar css */
.navbar {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px cyan;
  --webkit-box-shadow: 0 8px 6px -6px gray;
  border-borrom: 0px solid gray !important;
}

.nav-link {
  font-weight: 300 !important;
}

.active {
  border-bottom: 1px solid black;
}

.navbar-brand {
  font-weight: 500;
  font-family: "roboto", sans-serif;
  letter-spacing: 3px;
}

.footer {
  color: white;
  padding: 11px;
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000);
}
