@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&family=Poppins:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Onest:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font-family: 'Playfair Display', serif; */
/* font-family: 'Poppins', sans-serif; */
/*font-family: 'Onest', sans-serif; */

/* Page not found */

.pnf {
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pnf-title {
  font-size: 100px;
  font-weight: 700;
}
.pnf-heading {
  font-weight: normal;
}
.pnf-btn {
  color: black;
  border: 1px solid cyan;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
}
/* navbar css */
.navbar {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px cyan;
  --webkit-box-shadow: 0 8px 6px -6px gray;
  border-bottom: 0px solid gray !important;
}

.nav-link {
  font-weight: 300 !important;
}

.active {
  border-bottom: 1px solid black;
}

.navbar-brand {
  font-weight: 500;
  font-family: "roboto", sans-serif;
  letter-spacing: 3px;
}

.quotes {
  font-family: "Onest", sans-serif;
  background-image: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);
}

.form-container video {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.corousal-img {
  margin: 5px;
  width: 100%;
  height: 500px;
  float: right;
}

.footer {
  color: white;
  padding: 11px;
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000);
}

/*=================================================================
==============================register page*/
.register {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: center;
  height: 70hv;
  flex-direction: column;
}

.footer a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

/* cards */

.card1{
  height: 100%;
  transition: all 0.3s;
}
.card1:hover {
  transform: scale(1.15);
}

.card-img-top {
  transition: all 0.3s;
}
.card-img-top:hover {
  transform: scale(1.15);
}

.contactus {
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: large;
}

.contactus video {
  z-index: -1;
  position: absolute;
}
.call {
  margin: 10% 0;
  max-width: 70%;
}

.aboutus {
  align-items: center;
  justify-content: center;
}

.logo {
  margin: 10% 0;
  border-radius: 5%;
  width: 60%;
}

.aboutus video {
  z-index: -1;
  position: absolute;
}

.mainvideo{
  position:absolute;
}

.card-text{
  font-family: 'Onest', sans-serif;
  font-style:normal;
}

